.cardLightTheme div {
    background-color: lavender;
    color: darkgreen;
}

.cardDarkTheme div {
    background-color: black;
    color: white;
}

.cardDefaultTheme div {
    background-color: darksalmon;
    color: midnightblue;
}

.post-card {
    text-align: start;
}